build
slant-cell-advection.pdf
stability-analysis.pdf
uniform-cubic-stability-analysis.pdf
src/errors/convergence-horizontalAdvection.dat
src/errors/convergence-horizontalAdvection.pdf
src/errors/convergence-thermalAdvection.dat
src/errors/convergence-thermalAdvection.pdf
*.swp
*#
*~
__pycache__
.cache
